body {
    background-color: #113766;
    background: radial-gradient(circle, rgba(17, 55, 102, 1) 0%, rgba(13, 37, 68, 1) 90%);
    color: #666;
    margin: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

section {
    width: 11vw;
    height: 14.91780821917808vw;
    margin: 0.5vw;
    box-shadow: 0 0px 12px rgba(255, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 5%;
}

article {
    box-sizing: border-box;
    padding-top: 20%;
    width: 11vw;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5%;
    margin: 0;
    transition: margin 0.3s ease;
}

section#c0 article, 
section#s0 article, 
section#d0 article, 
section#h0 article{
    padding-top: 0;
}

article:hover > article:not(:hover) {
    margin-top: 10%;
}

#d1 {
    background-image: url('Content/1_d.webp');
}

#d2 {
    background-image: url('Content/2_d.webp');
}

#d3 {
    background-image: url('Content/3_d.webp');
}

#d4 {
    background-image: url('Content/4_d.webp');
}

#d5 {
    background-image: url('Content/5_d.webp');
}

#d6 {
    background-image: url('Content/6_d.webp');
}

#d7 {
    background-image: url('Content/7_d.webp');
}

#d8 {
    background-image: url('Content/8_d.webp');
}

#d9 {
    background-image: url('Content/9_d.webp');
}

#d10 {
    background-image: url('Content/10_d.webp');
}

#d11 {
    background-image: url('Content/11_d.webp');
}

#d12 {
    background-image: url('Content/12_d.webp');
}

#d13 {
    background-image: url('Content/13_d.webp');
}

#c1 {
    background-image: url('Content/1_c.webp');
}

#c2 {
    background-image: url('Content/2_c.webp');
}

#c3 {
    background-image: url('Content/3_c.webp');
}

#c4 {
    background-image: url('Content/4_c.webp');
}

#c5 {
    background-image: url('Content/5_c.webp');
}

#c6 {
    background-image: url('Content/6_c.webp');
}

#c7 {
    background-image: url('Content/7_c.webp');
}

#c8 {
    background-image: url('Content/8_c.webp');
}

#c9 {
    background-image: url('Content/9_c.webp');
}

#c10 {
    background-image: url('Content/10_c.webp');
}

#c11 {
    background-image: url('Content/11_c.webp');
}

#c12 {
    background-image: url('Content/12_c.webp');
}

#c13 {
    background-image: url('Content/13_c.webp');
}

#h1 {
    background-image: url('Content/1_h.webp');
}

#h2 {
    background-image: url('Content/2_h.webp');
}

#h3 {
    background-image: url('Content/3_h.webp');
}

#h4 {
    background-image: url('Content/4_h.webp');
}

#h5 {
    background-image: url('Content/5_h.webp');
}

#h6 {
    background-image: url('Content/6_h.webp');
}

#h7 {
    background-image: url('Content/7_h.webp');
}

#h8 {
    background-image: url('Content/8_h.webp');
}

#h9 {
    background-image: url('Content/9_h.webp');
}

#h10 {
    background-image: url('Content/10_h.webp');
}

#h11 {
    background-image: url('Content/11_h.webp');
}

#h12 {
    background-image: url('Content/12_h.webp');
}

#h13 {
    background-image: url('Content/13_h.webp');
}

#s1 {
    background-image: url('Content/1_s.webp');
}

#s2 {
    background-image: url('Content/2_s.webp');
}

#s3 {
    background-image: url('Content/3_s.webp');
}

#s4 {
    background-image: url('Content/4_s.webp');
}

#s5 {
    background-image: url('Content/5_s.webp');
}

#s6 {
    background-image: url('Content/6_s.webp');
}

#s7 {
    background-image: url('Content/7_s.webp');
}

#s8 {
    background-image: url('Content/8_s.webp');
}

#s9 {
    background-image: url('Content/9_s.webp');
}

#s10 {
    background-image: url('Content/10_s.webp');
}

#s11 {
    background-image: url('Content/11_s.webp');
}

#s12 {
    background-image: url('Content/12_s.webp');
}

#s13 {
    background-image: url('Content/13_s.webp');
}